*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	line-height: 16px;
}
p{
	margin: 0px;
}



/* TopNavigation styles */
.TopNavigation{
	padding: 10px 20px;
}
.nav a.nav-link{
	color: black;
	padding: 0px 10px;
}
.nav a.nav-link:first-child{
	padding-left: 0px;
}
.nav a.nav-link:last-child{
	padding-right: 0px;
}
.TopNavigation-ContactPhone{
	margin-right: 50px;
}
/* ------------------------ */

/* MainNavigation styles */
.MainNavigation{
	padding: 15px 20px;
	border-top: 1px solid #cdcbcb;
	border-bottom: 1px solid #cdcbcb;
}

/* ------------------------ */
